@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<div class="container fullHeight">
    <div class="row heightInherit d-flex align-items-center justify-content-center text-center">
        <div>
            <div class="paddingDelimiter15">
                @(await Component.InvokeAsync<ImageViewComponent>(
                    new {
                        path = "/img/ok.png",
                        alt = "Successful registration",
                        @class = "imgLimited400" }))
            </div>
            <div class="paddingDelimiter15">
                <h1 class="text-center">
                    @Localizer["SuccessfulMessage"]
                </h1>
            </div>
            <div class="paddingDelimiter15 text-center">
                <a href="@Url.RouteUrl(
                            new {
                                action = nameof(Application.Web.Areas.Account.Controllers.HomeController.Login),
                                controller = ControllerNames.Home,
                                area = AreaNames.Account })"
                   class="btn btn-lg bgRoyalOrange">
                    @SharedLocalizer["SignInNavLink"]
                </a>
            </div>
        </div>
    </div>
</div>