@using Application.Web.Views.Shared.Components
@model CalendarWeekDaysViewModel

@foreach (var weekDayName in Model.WeekDaysNames)
{
    <div class="calendarWeekDay">
        @Model.Formatter(weekDayName)
    </div>
}