@using Application.Web.Views.Shared.Components
@model ScheduledExerciseCardViewModel

<h1>
    @Model.TranslatedSportName
</h1>
<h2>
    @(Model.Duration + " min.")
</h2>
<h3 class="fontExtraLight">
    (@Model.DuringDay)
</h3>