@using Application.Web.Views.Shared.Components
@model TempDataMessageViewModel

<div class="text-center paddingDelimiter15">
    <h3 class="@Model.StatusColor">
        @Model.Message
    </h3>
</div>